@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-principal: #27374D;
    --cor-secundaria: #ffffff;
    --cor-terciaria: #9DB2BF; 
    --cor-hover: #213551;
    --font-primaria: "Krona One", sans-serif;
    --font-secundaria: "Montserrat", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}

body {
    /*height: 100vh;*/
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0 0 15%;/*preenchimento superior, direito, inferior, esquerdo*/
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link{
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao{
    padding: 5% 15%;
    display: flex; /* para posicionar elementos na tela*/
    align-items: center;
    justify-content: space-between; /*Flexbox para espaçar os elementos e adicione margens*/
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex; /* para posicionar elementos na tela*/
    flex-direction: column;
    gap: 40px;
}

.tituloDestaque{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem; /*controla  o tamanho da fonte do titulo principal*/
    font-family: var(--font-primaria);
    
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
}

.apresentacao__links{
    display: flex; /* para posicionar elementos na tela*/
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
  
.apresentacao__links__subtitulo{
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__navegacao{
    /*background-color: #22D4FD; Cor do botao*/
    border: 2px solid var(--cor-terciaria);
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%; /*largura do botao*/
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0; /*Adiciona-se dois valores para mexer VERTICAL e HORIZONTAL*/
    text-decoration: none; /*tira o sublinhado padrao do link*/
    color: var(--cor-secundaria);   /*cor do texto*/
    font-family: var(--font-secundaria);
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover); /*muda a cor do fundo quando passamos por cima com o mouse*/
}

.apresentacao__imagem{
    width: 50%;
}

.rodape{
    padding: 24px;
    color: var(--cor-principal);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.5re;
    font-weight: 400;
}

@media (max-width: 1200px){
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }
} /*se a tela for menor que 1200px ativa  esse estilo css */

.apresentacao__links__navegacao__email{
    border: 2px solid var(--cor-terciaria);
    justify-content: center;
    gap: 16px;
    width: 50%; /*largura do botao*/
    text-align: center;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px ; /*Adiciona-se dois valores para mexer VERTICAL e HORIZONTAL*/
    text-decoration: none; /*tira o sublinhado padrao do link*/
    color: var(--cor-secundaria);   /*cor do texto*/
    font-family: var(--font-secundaria);
}
.apresentacao__links__navegacao__email:hover{
    background-color: var(--cor-hover);
}

.apresentacao__links__certificado{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%; /*largura do botao*/
    text-align: center;
    border-radius: 0px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0px 0; /*Adiciona-se dois valores para mexer VERTICAL e HORIZONTAL*/
    text-decoration: none; /*tira o sublinhado padrao do link*/
    color: var(--cor-secundaria);   /*cor do texto*/
    font-family: var(--font-secundaria);
}